<div class="nav-bar">
    <a class="brand" href="/" title="Home">
        <img src="fullvantage.gif" alt="FullVantage" class="brand-image" />
    </a>
    <nav style="display:flex; gap: 1rem;">
        <NavLink class="nav-link" href="agents">Agents</NavLink>
        <NavLink class="nav-link" href="file-manager">File Manager</NavLink>
        <NavLink class="nav-link" href="file-transfers">Transfers</NavLink>
        <NavLink class="nav-link" href="builder">Builder</NavLink>
    </nav>
</div>

